* {
    margin: 0;
}
div#header{
    text-align: center;
    height: 100px;
    width: 100%;
    background: lightslategray;
    display: block;
    color: white;
}
section {
    width: 80%;
    height: 600px;
    margin: auto;
}
div#left {
    width: 50%;
    height: 600px;
    background: lightsteelblue;
    float: left;

}
div#right {
    margin: 10px;
    width: 50%;
    margin-left: 51%;
    height: 600px;
    background: lightpink;
}
form {
    margin: 0 auto;
    width:350px;
}
button {
    width: 75px;
    font-weight: bold;
}